<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="MailService.js"></script>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #848080;
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: rgb(255, 255, 255);
    }
  </style>
</head>
<table width="100%" cellpadding="0" cellspacing="0" border="0"
  style="border-collapse:collapse;line-height:24px;margin:0;padding:0;width:100%;font-size:15px;color:#4aa951;">
  <tbody>
    <tr>
      <td valign="top"
        style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif!important;border-collapse:collapse">
    <tr>
      <td valign="top">
        <div>
          <table class="css-serial">
            <tr>
              <td
                style="text-align:center; padding: 8px; font-weight: bold; font-size:18px; padding-bottom: 12px; padding-top: 12px; color: white; background-color: #002395;">
                Order Product Top(50) Report</td>
            </tr>
            <tr>
              <td valign="top"
                style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif!important;border-collapse:collapse; color : black">
                <table style="border-collapse : collapse ">
                  <tr>

                    <th style="padding: 8px; width: 290px; text-align:center; color: black">
                      Product Name
                    </th>
                    <th style="padding: 8px; width: 250px; text-align:center; color: black">
                      Quantity
                    </th>
                  </tr>
                  <% if (data && data.length> 0) { %>
                    <% for (let x of data) { %>
                      <tr>
                        <th style="padding: 8px; width: 290px; align-items: center; color: rgb(48, 91, 233)">
                          <div style="display: flex;">
                            <div>
                              <img src="<%= x.media_url %>" alt=""
                                style="min-width: 70px; min-height: 80px; padding: 0.25rem; background-color: #fff; border: 1px solid #dee2e6; border-radius: 0.25rem; max-width: 70px; max-height: 70px;"
                                class="img-fluid">
                            </div>
                            <div style="margin-left: 10px;">
                              <h6 style="font-weight: bold; margin: 0px;">
                                <%= x.brand_name %>
                              </h6>
                              <h6 style="margin: 0px;">
                                <%= x.product_name %> <%= x.size %>  <%= x.unit %>  <%= x.pack_size ? `(Pack Size:${x.pack_size}) ` : "" %>
                              </h6>
                              <div class="text-primary font-weight-bold" style="margin: 0px;">
                                <h6 style="margin: 0px;">
                                  <%= x.sale_price ? `₹${x.sale_price} ` : "" %>
                                </h6>
                              </div>
                            </div>
                          </div>
                        </th>
                        <th style="padding: 8px; width: 290px; text-align:center; color: rgb(48, 91, 233)">
                          <%= x.quantity %>
                        </th>
                      </tr>
                      <% } %>
                        <% } %>

              </td>
            </tr>
        </div>
      </td>
    </tr>
    </td>
    </tr>
  </tbody>
</table>

</html>