<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <style>
    table {
      border-collapse: collapse;
      width: 100%;
      border: none;
      margin-bottom: 20px;
    }

    th {
      background-color: black;
      padding: 8px;
      width: 270px;
      text-align: center;
      color: white;
    }

    td {
      padding: 8px;
      width: 270px;
      text-align: center;
      color: black;
      padding-left: 18px;
    }

    .data-row td {
      border: 1px solid black;
    }

    .tableClass {
      width: 100%;
      border-collapse: collapse;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border: 1px solid #a3a3a3;
    }

    .tableClass th,
    td {
      padding: 15px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }

    .tableClass th {
      background-color: #bdbcbc;
      color: black;
      font-size: 17px;
      font-weight: bold;
    }

    .tableClass tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    .inline-content {
      display: flex;
      align-items: center;
    }

    .inline-content img {
      margin-right: 10px;
    }
  </style>
</head>

<body>
  <table style="margin-bottom: 7px;" class="data-row">
    <tr>
      <th>
        <div class="inline-content">
          <img src="<%= companyLogo %>" style="height: 50px; width: 50px; float: left; margin-top: 5px" />
          <h2 style="padding: 0px; margin: 10px;">
            <%= schedularName %>
          </h2>
        </div>
      </th>
    </tr>
  </table>


  <% for (let values of storeList) { %>
  <table class="tableClass" style="margin: 0;">
    <% if(values && values.attendanceData.length > 0){ %>
    <thead>
      <tr>
        <th colspan="2"><%= values.locationName%></th>
      </tr>
    </thead>
    <% } else { %>
      <thead>
        <tr>
          <th style="background-color: red;" colspan="2"><%= values.locationName%></th>
        </tr>
      </thead>
      <% } %>
    <tbody>
      <% for (let value of values.attendanceData) { %>
        <tr>
          <td style="padding: 8px; height: 70px; width: 50%; text-align: left; font-weight: bold;">
            <div class="inline-content">
              <img src="<%= value.media_url %>" style="height: 50px; width: 50px; float: left; margin-top: 5px" />
              <div>
                <p><%= value.name %> : <%= value.loginTime ?? "" %> - <%= value.logoutTime ?? "" %> <%= value.shiftName ? `(${value.shiftName}) ` : "" %></p>
                <% if (value.primaryLocation && value.primaryLocation !== values.locationName) { %>
                <p style="<%= !value.bothLocationMatched ? 'color: red;' : '' %>">
                  Primary: 
                  <span style="font-weight: bold;"><%= value.primaryLocation %></span> 
                  <% if (value.primaryShiftName) { %>
                    - <%= value.primaryShiftName %><% } %></p>
                  <% } %>
                <% if (value.type === "Additional Day") { %>
                <p style="color: red;"><%= value.type %></p>
                <% } %>
              </div>
            </div>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>
  <% } %>


  <table class="tableClass" style="margin-top: 10px;">
    <thead>
      <tr>
        <th colspan="2">Absent (<%= leaveCount%>)</th>
      </tr>
    </thead>
    <tbody>
      <% for (let value of leaveData) { %>
        <tr>
          <td style="padding: 8px; height: 70px; width: 50%; text-align: left; font-weight: bold;">
            <div class="inline-content">
              <img src="<%= value.user_img_url %>" style="height: 50px; width: 50px; float: left; margin-top: 5px" />
              <div>
                <p><%= value.name %></p>
              </div>
            </div>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>


  <table style="margin-bottom: 7px;" class="data-row">
    <tr>
      <th style="text-align: left;">
        <h2 style="padding: 0px; margin: 10px;">
          <%= companyName %>
        </h2>
      </th>
      <th style="text-align: right;">
        <h2>Report Generated At: <%= reportGeneratedAt %>
        </h2>
      </th>
    </tr>
  </table>


</body>
</html>
